<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleExcel -->
      <package
            uri="platform:/plugin/SimpleExcel/model/SimpleExcel.ecore"
            class="com.kaleidoscope.core.aux.SimpleExcel.SimpleExcelPackage"
            genModel="model/SimpleExcel.genmodel"/>
   </extension>

</plugin>
