<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simpletree -->
      <package
            uri="platform:/plugin/com.kaleidoscope.core.aux.simpletree/model/SimpleTree.ecore"
            class="SimpleTree.SimpletreePackage"
            genModel="model/SimpleTree.genmodel"/>
   </extension>

</plugin>
